body{
    background-color: #d3d4d5;
}


header{
    background-image: url("/img/background.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 360px;
}

a{
    text-decoration: none;
    transition: all 0.2s !important;
}
a:hover{
color: #ffffff;
}
.logo{
    width: 80px;
    height: 80px;
    margin-left: 100px;
    float: left;
}

.nav-link{
    color: #000000;
    font-size: 22px;
}
h1{
    padding: 45px 45px;
    margin: 50px 50px;
}
button{
    display: inline-block;
    position: relative;
}
button a{
    color: #000000;
}
article{
    margin-right: 10px;
    width: 77%;
    min-height: 350px;
    border: #bb2d3b solid 2px;
    border-radius: 35px;
    float: right;
    margin-top: 10px;
    background-color: #ffffff;

}
.sidebar{
    margin-left: 10px;
    width: 20%;
    min-height: 350px;
    border: #0c4128 solid 2px;
    border-radius: 35px;
    float: left;
    margin-top: 10px;
    background-color: #ffffff;
}
ul{    margin-left: 57px;}
article p{    margin-left: 35px;
    margin-top: 50px;}

footer{

    width: 100%;
    height: 200px;
    clear: both;
    margin-top: 20px;
    float: left;
}
